.guest-container {
    padding: 10rem 10rem 10rem;
    background-color: bisque;
    margin: 0 auto;
    .guest-header {
        .guest-h1 {
            letter-spacing: 1rem;
            text-align: center;
        }
    }
    .guest-body{
        
    }
}