asgiref==3.2.10
awsebcli==3.19.3
beautifulsoup4==4.9.3
botocore==1.19.61
bs4==0.0.1
cement==2.8.2
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.3
Django==3.1.2
django-cors-headers==3.5.0
djangorestframework==3.12.1
future==0.16.0
idna==2.10
jmespath==0.10.0
pathspec==0.5.9
pypiwin32==223
python-dateutil==2.8.1
pytz==2020.1
pywin32==300
PyYAML==5.3.1
requests==2.24.0
semantic-version==2.5.0
simplejson==3.17.2
six==1.15.0
soupsieve==2.1
sqlparse==0.3.1
termcolor==1.1.0
urllib3==1.25.11
wcwidth==0.1.9
