.top {
    display:flex;
    .deleteicon {
        display: flex;
        align-items: center;
    }
}
.comment_container{
   
    width:80%;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    .list_header{
     
        .list_header_strong{
            font-family: "Noto Sans Light","Malgun Gothic",sans-serif;
            padding-top: 4px;
            margin-left: -1px;
        }
        .list_header_span {
            padding-left: 5px;
            color: #00c3bd;
        }
    }
    
    .list_item {
        width:100%;
        padding:20px 1vw 50px;
        border-bottom: 1px solid #eee;
        .list_info {
            display:flex;
            .info_img {
                width:48px;
                height:48px;
            }
            .list_info_wrapper {
                
                margin-left: 1rem;
                .list_info_header {
                    display:flex;
                    strong{
                        font-size:12px;
                        line-height: 14px;
                        opacity: .8;

                    }
                    .list_info_header_date{
                        margin-left:.5rem;
                        .inp {
                            color: #959595;
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                   
                    
                }
                .list_info_body{
                    .inpbody{
                        font-family: 'D2 coding';
                    }
                    padding: 9px 20px 0 0;
                    line-height: 22px;
                }
            }
            
        }
        &:hover {
            background: #f8f8f8
        }
    }
}