.comment_container{
    border-top: 1px solid #eee;
    width:90%;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    .list_item {
        width:100%;
        padding:20px 11vw 50px;
        border-bottom: 1px solid #eee;
        .list_info {
            .list_info_header {
                strong{
                    font-size:12px;
                    line-height: 14px;
                }
                
            }
            .list_info_body{
                
                padding: 9px 20px 0 0;
                line-height: 22px;
            }
        }
        &:hover {
            background: #f8f8f8
        }
    }
}