.site-nav-small {
    padding:12px 0px;
    background-color: black;
    position:fixed;
    width:100%;
    height:50px;
    z-index: 9999;
    .nav-small{
      color:white;
      display:flex;
      list-style:none;
      margin: 0 0 0 -12px;
      .Link-small {
        padding: 10px 12px;
        font-weight: 700;
        color:#4183c4;
        &:hover {
            color:#2c6196;
        }
      }
    }
  }